* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: monospace, 'Courier New', Courier;
}

body {
  background: #000;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

button {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

input[type="range"] {
  touch-action: manipulation;
}
